
.CampoObligatorio {
	color:          #9d2449;
    font-size:      16px;
    font-weight:    bold;
    text-align:     center!important;
}

.Imagen {
    text-align:     center!important;
}

.TituloAlumno {
    font-size:      1.5rem;
    font-weight:    700;
    text-align:     center!important;
}

.TituloMatricula {
    margin:         0 0 1rem 0;   
    text-align:     center!important; 
}

.TituloPonderador {
    margin:         0 0 .5rem 0;    
    text-align:     center!important;
    font-weight:    bold;
}

.Obligatorio {
	color:          #9d2449;
    text-align:     right!important;
    font-size:      16px;
    font-weight:    normal;
}

.Calificacion10 {
    color: rgb(44, 99, 193)!important;
    margin:     15px;
    padding:    15px;
}

.Calificacion9 {
    color: rgb(62, 179, 46)!important;
    margin:     15px;
    padding:    15px;
}

.Calificacion8 {
    color: rgb(170, 177, 34)!important;
    margin:     15px;
    padding:    15px;
}

.Calificacion7{
    color: rgb(180, 104, 45)!important;
    margin:     15px;
    padding:    15px;
}

.Calificacion6 {
    color: rgb(161, 36, 39)!important;
    margin:     15px;
    padding:    15px;
}







.Solicitud {
	font-size: 13px;
    font-weight: bold;
}

.Tarjeta {
	-webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 100%;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(3,4,5,0.3);
    text-align: left;
    	
	max-width: 50%;
    line-height: 1.5;
	position : absolute; 
    top: 15%;
    left: 0;
    right: 0;
    margin:auto;
    padding-right: 20px;
}
/**@media only screen and (max-width: 800px) {    */

.botonAncho{
    width: 150px;
}
.botonGuardar {    
    color: #fff!important;
    background: #952F57!important;
    border-color: #952F57!important; 
}
.botonGuardar:hover {
    color: #fff!important;
    background: #b04f6d!important;
    border-color: #b04f6d!important;
}
.botonCancelar {
    background-color: #fff;
    color: #952F57;
    border: 1px solid #952F57;
}
.botonCancelar:hover{    
    color: #fff!important;
    background: #b04f6d!important;
    border-color: #b04f6d!important;
}

.botonEliminar {
    background-color: #265b4d;
    color: #fff;
    border: 1px solid #265b4d;
}
.botonEliminar:hover{
    color: #fff;
    background: #678c82;
    border-color: #678c82;  
}

.botonEditar {
    color: #fff!important;
    background: #9d2449!important;
    border-color: #9d2449!important;
}

.botonAgregar {
    color: #fff!important;
    background: #B38E5D!important;
    border-color: #B38E5D!important;
}
.botonAgregar:hover {
    color: #fff!important;
    background: #D4C19C!important;
    border-color: #D4C19C!important;
  }
.botonCerrar {
    background-color: #fff;
    color: #9d2449;
    border: 1px solid #9d2449;
}

.Tabla {
    border-spacing: 2px;
    border-color: grey;
	background: #eeeeee;
	font-size: 1rem;
}

.Resultado {
	font-size: 1.2rem;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.TablaContratos {
    border-spacing: 2px;
    border-color: grey;
	background: #eeeeee;
	font-size: .7rem;
}

.TablaContratosTitulo {
	font-size: 1.2rem;    
}

.TablaContratosResultado {
	font-size: .7rem;
}
.genDisplay{
    max-width: 95% !important;    
    align-items: center !important;
    padding-left: 5.8em;
}
.siguiente{
    color: #fff;
    background: #13322b;
    border-color: #13322b; 
    border-radius: 5px;
    font-size:18px;    
}
.siguiente:hover{
    color: #fff;
    background: #265b4d;
    border-color: #265b4d;    
}
.tabExped {
    border: #5b5b5b 2px solid;
  }
.colum {
    background-color: #e5e5e5;
    width: 30% !important;
    padding-top: 1px;
}
.atendidos{
    padding-left: 20% !important;
}
.grid{
    display: grid;
    grid-template-columns: 20% 80% ;
}
.grid2{
    display: grid;
    grid-template-columns: 70% 30% ;
}
.grid2 div {
    padding-right: 10% !important;
}
.swal2-container {
    z-index:1151 !important; 
  }
.radio{
    float:left;
	margin: 0px;
	height: 0px;
    padding-left: 5% !important;
}

#contenedor {
    display: table;
    border: 2px solid #000;
    width: 20px;
    text-align: center;
    margin: 0 auto;
}
#contenidos {
    display: table-row;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 5px;
}