
nav {
	z-index: 1;
	background: white;
}

.navbar_principal {
    background: #089E5F !important;
    border: 0;
    color: white;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 5px;
    }
}

.img_logo{
    padding: 0px;
    text-align: center!important;
}

.TitloAcceso {
	color: white;
    text-align: center!important;
}
