.TarjetaLogin {
	-webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 100%;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(3,4,5,0.3);
    text-align: left;
    	
	max-width: 50%;
    line-height: 1.5;
	position : absolute; 
    top: 15%;
    left: 0;
    right: 0;
    margin:auto;
    padding-right: 20px;
}
.img_l{
    padding: 0px;
    height: 260px; 
  }
.entrar-btn{
    color: #fff;
    background: #13322b;
    border-color: #13322b; 
    border-radius: 5px;
    font-size:18px;
  }
.entrar-btn:hover {
    color: #fff;
    background: #265b4d;
    border-color: #265b4d;
   }